/*--------------CSS Default/RESET------------------*/
*{
    padding:0;/*innenabstand*/
    margin:0; /*aussenabstand*/
    font-size:100%;
    font-weight: normal;
}
a{

	color:#505862;

}
ul,ol{
    list-style:none;
}
b,strong{
    font-weight:bold;
}
img, a img{
    border:none;

}
body {
background-color: #6B6D72;
font-family: Helvetica, Arial, sans-serif;
margin: 10px, 10px, 1px, 10px;
	
}
h1 {
	font-size: 2.5em;
}

h2 {

	font-size: 2.0em;
	text-align:center;
	margin-right: 5px;
	margin-left: auto;

}

h3 {
	font-size: 1.2em;
	color: #505862;
}

#page{
margin-left: auto;
margin-bottom: 0;
margin-right: auto;
margin-top: 140px;
background-color:#EFEFEF;
width:960px;
position: relative;

}
p{
	text-align: center;
	font-size: 0.8em;

}

/*-------------CSS reset/DEFAULT ENDE--------------*/


/*-------------------------------------------
<480px
-------------------------------------------*/
 /*Block export and import function */
@media(max-width:480px){
img{display: none!important;}
edit_option{display: none;}
.bookmark_view onclick{ display:none;}
}
/*-------------------------------------------
<1680px later for 1680px now for 1024
-------------------------------------------*/
@media(min-width:1024px){
#page{
	width: 1024px;
}
#header{
	margin-top: -140px;
	background-color: white;
	position:  fixed;
	background-color:#ffffff;
	border-width:3px;
	border-color:#999999;
	-moz-box-shadow:0px 0px 10px #000000;
	-webkit-box-shadow:0px 0px 10px #000000;
	box-shadow:0px 0px 10px #000000;
	width: 1024px;	
}
#header h2{
	display: none;
}




#navigation{
	padding-right: 0.1em;
	padding-left: 0.1em;
	margin-bottom: 5px;
	margin-top: 5px;

}
  #navigation ul li { 
  	border-top-color:#505862;

	border-bottom-style: dashed;
	border-bottom-color:#505862;
	border-top-style: dashed;
    margin-left: 0.3em;
    margin-bottom: 2em;
    margin-right: 0.3em;
    margin-top: 2.5em;
    display: inline; padding: 0;
  }
 #navigation a{
  text-decoration: none;
  }
  #navigation a:active{ color: #f8ad1e }
  #navigation a:visited{ color: #0000EE;}
  #navigation a:hover{color: #00AA00;}



.bookmarkbox{

	float: left;

	margin:0 auto;
	width: 280px;
	display: inline-block;
}
.bookmarkbox a{
	color: #f8ad1e;
}


#keyword_tree {
display:;
	text-transform: uppercase;
	margin:0 auto;
	width: 1024px:
}

#keyword_tree a{
	text-decoration: none;
}

#keyword_tree ul li{
	text-align: center;
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
	
	
}
/*QUICK ADD*/
#quickadd h2{
display: none;
}

#quickadd form { 
	display: inline-block; 
	width: 200px;
 	float left;
    border: 1px solid #ddd; 
    padding: 30px 40px 20px 40px; 
    background: #fff;
    
    /* -- CSS3 - define rounded corners -- */	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px; 
	border-radius: 10px;
 
	/* -- CSS3 - create a background gradient -- */
	background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFF)); 
	background: -moz-linear-gradient(0% 40% 90deg,#FFF, #EEE); 
 
	/* -- CSS3 - add a drop shadow -- */
	-webkit-box-shadow:0px 0 50px #ccc;
	-moz-box-shadow:0px 0 50px #ccc; 
	box-shadow:0px 0 50px #ccc;
 
}
}
#quickadd{
	width: 250px;
}

#quickadd label{
margin-bottom: 0.2em;
	float: left;
}
#quickadd input{
	margin-bottom: 0.2em;
	float:right;
}
#quickadd input, textarea { 		
    background: #fff;  
    color: #555; 
    border: 1px #ddd solid;
}

#quickadd input.submit { 	 
	width: 200px;
    color: #eee; 
    text-transform: uppercase; 
    margin-top: 15px;
    background-color: #18a5cc;
    border: none;
    /* -- CSS3 Transition - define which property to animate (i.e. the shadow)  -- */
	-webkit-transition: -webkit-box-shadow 0.3s linear;
 
	/* -- CSS3 Shadow - create a shadow around each input element -- */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18a5cc), to(#0a85a8)); 
	background:  -moz-linear-gradient(25% 75% 90deg,#0a85a8, #18a5cc); 
 
	/* -- CSS3 - Rounded Corners -- */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px; 
	border-radius: 4px;
}
#quickadd input.submit:hover { 	

    -webkit-box-shadow: 0px 0px 20px #555;
    -moz-box-shadow: 0px 0px 20px #aaa; 
    box-shadow: 0px 0px 20px #555;		
    cursor:  pointer; 
}

.input.select{
	display: inline-table;
}


/*table*/
table {
	font-size: 13px;
	width: 900px;
	margin: 0 auto;
}
	table td, table th {
		padding: 2px 10px;
		/*border: 1px solid #000;     - WITHOUT BORDER*/
}
	table th {
		background-color: #666;
		color: #fff;
}
	table tr:nth-child(1n+2) {
		background-color: #FEFEFE;
		color: #000;
}
	table tr:nth-child(2n+3) {
		background-color: #EEEEEE;
		color: #000;
}
	table tr:hover {
		background-color: #808080;
		color: #fff;
}
	th a {
	    text-decoration: none;
}
	th a:link {
	    color:#EEFFEE;
}
	th a:visited {
	    color: #DDDDDD;
}
	th a:active {
	    color: #72aeeb;
}
/*QUOTE*/
#quote{
padding-bottom: 5px;
padding-top: 5px;
color:white;
background-color: #6b6d72;
}
#quote h2{
	display: none;
}



/*-------------------------------------------
<960px landscape / portrait 
-------------------------------------------*/
@media(max-width:960px){
 /*Block export and import function */
table {
	font-size: 15px;
	width: 90%;
}
	table td, table th {
		padding: 2px 10px;
		/*border: 1px solid #000;     - WITHOUT BORDER*/
}
	table th {
		background-color: #666;
		color: #fff;
}
	table tr:nth-child(1n+2) {
		background-color: #FEFEFE;
		color: #000;
}
	table tr:nth-child(2n+3) {
		background-color: #EEEEEE;
		color: #000;
}
	table tr:hover {
		background-color: #808080;
		color: #fff;
}
	th a {
	    text-decoration: none;
}
	th a:link {
	    color:#EEFFEE;
}
	th a:visited {
	    color: #DDDDDD;
}
	th a:active {
	    color: #72aeeb;
}
	}



