/*--------------CSS RESET------------------*/
*{
    padding:0;/*innenabstand*/
    margin:0; /*aussenabstand*/
    font-size:100%;
    font-weight: normal;
}
ul,ol{
    list-style:none;
}
b,strong{
    font-weight:bold;
}
img, a img{
    border:none;
}
/*-------------CSS RESET ENDE-------------*/

/*--------------CSS DEFAULT------------------*/
    body {
/*	background-color: #808080;
	background: -webkit-gradient(linear, left center, right center, from(#808080), to(#808080), color-stop(.5,#FFFFFF));
	background: -moz-linear-gradient(left, #808080 0%, #FFFFFF 50%, #808080 100%);*/
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px, 10px, 1px, 10px;

}
h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.2em;
	color: #505862;
}
/*-------------CSS DEFAULT ENDE--------------*/
/*--------------FORMULAR DEFAULT------------------*/
form {
    margin-bottom:5px;
    margin-top:10px;
}
fieldset {
  border: none;
  margin-bottom: 10px;
  padding: 10px 20px 25px;
}
fieldset legend {
  font-weight: bold;
  font-size: 22px;
  margin:15px 0 0 6px;
}

label {
  display: inline;
  cursor: pointer;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 15px;
  width: 50px;
}
textarea {
    margin-bottom: 15px;
}
title {
    width:50px;
}
input, textarea {
  background-color: #fff;
  color: #4d4d4d;
  border: 1px solid #c4c4c4;
  font: 13px Helvetica, Arial, "Nimbus Sans L", FreeSans, sans-serif;
  padding: 8px 12px;
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px #e2e2e2, inset 2px 2px 5px #e2e2e2;
  -moz-box-shadow: 2px 2px 5px #e2e2e2, inset 2px 2px 5px #e2e2e2;
  box-shadow: 2px 2px 5px #e2e2e2, inset 2px 2px 5px #e2e2e2;
  filter:progid:DXImageTransform.Microsoft.Shadow
  (color=#e2e2e2, Direction=135, Strength=5);
  -ms-filter:"progid:DXImageTransform.Microsoft.Shadow
  (color=#e2e2e2, Direction=135, Strength=5)";
}
input {
 /*   float: right;*/
    height: auto;
}
textarea {
    height: 15px;
    float: right;
    
}
input[type="submit"] {
  background-color: #c50a1f;
  color: #fff;
  cursor: pointer;
  font: italic bold 1em/1.2 Georgia, "Times New Roman ", Times, Cambria, "Nimbus Roman No9 L ", serif;
  border: 1px solid #e35061;
  padding: 5px 10px;
  width: auto;
  height: auto;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius: 0;
    background: -moz-linear-gradient(top, #e1001a, #c50a1f);
  background: -webkit-gradient(linear, left top, left bottom,
  color-stop(0, #e1001a), color-stop(1, #c50a1f));
  filter: progid:DXImageTransform.Microsoft.gradient
  (startColorStr=#e1001a, EndColorStr=#c50a1f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient
  (startColorStr=#e1001a, EndColorStr=#c50a1f)";
    -webkit-box-shadow: 1px 0 0 #c50a1f, -1px 0 0 #c50a1f,
  0 1px 0 #c50a1f, 0 -1px 0 #c50a1f, 0 5px 10px -5px #666;
  -moz-box-shadow: 1px 0 0 #c50a1f, -1px 0 0 #c50a1f,
  0 1px 0 #c50a1f, 0 -1px 0 #c50a1f, 0 5px 10px -5px #666;
  box-shadow: 1px 0 0 #c50a1f, -1px 0 0 #c50a1f,
  0 1px 0 #c50a1f, 0 -1px 0 #c50a1f, 0 5px 10px -5px #666;
  text-shadow: 1px 1px 3px #333;
}
input[type="submit"]:hover {
  background: #c50a1f;
  text-shadow: none;
  text-align:center;
}

/*-------------FORMULAR DEFAULT ENDE--------------*/

/*-------------QUICK ADD ENDE--------------*/
/*--------------NORMAL ADD DEFAULT------------------*/

/*-------------NORMAL ADD ENDE--------------*/
/*--------------QUOTES TABLE------------------*/
table {
width: 90%;
}
table td, table th {
padding: 2px 10px;
/*border: 1px solid #000;     - WITHOUT BORDER*/
}
table th {
background-color: #666;
color: #fff;
}
table tr:nth-child(1n+2) {
background-color: #FEFEFE;
color: #000;
}
table tr:nth-child(2n+3) {
background-color: #EEEEEE;
color: #000;
}
table tr:hover {
background-color: #808080;
color: #fff;
}
th a {
    text-decoration: none;
}
th a:link {
    color:#EEFFEE;
}
th a:visited {
    color: #DDDDDD;
}
th a:active {
    color: #DDEEDD;
}
/*-------------QUOTES TABLE ENDE--------------*/